/* GLOBAL STYLING */

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-size: 100%;
}

header {
    flex-wrap: nowrap;
    background-color: rgb(226, 226, 226);
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.navLinks {
    display: inline-block;
    list-style: none;
} .navLinks li { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;

    display: inline-block;
    padding: 5px 15px;
} .navLinks li a {
    text-decoration: none;
    color:rgb(58, 58, 58);

    transition: all 0.25s;
} .navLinks li a:hover {
    color: #797979;
    font-size: 20px;
}

@media (max-width: 1050px) {
    header {
        flex-direction: column;
    }
    .navLinks {
        text-align: center;
    }
}

/* PAGE-SPECIFIC STYLING */
