/* GLOBAL STYLING */
.container {
  width: 936px;
  padding: 25px;
  overflow: hidden;
  margin: 100px auto;
  border-radius: 25px;
  border: 10px solid #0059dd;
  
}
img {
  width: 400px; border-radius: 10px;
}
img {
  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: 10000px;
  margin-left: 0px;
} 
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.container {
  width: 936px;
  padding: 25px;
  overflow: hidden;
  margin: 100px auto;
  border-radius: 25px;
  border: 10px solid #0059dd;
  
}

h1 {
  font-size: 6em;
  color: #484949;
}

#socDesc {
  color: black;
}

body {
  min-width: 520px;
}
html,body {
  height: 125%;
}
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-size: 100%;
}

header {
    flex-wrap: nowrap;
    background-color: rgb(226, 226, 226);
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.navLinks {
    display: inline-block;
    list-style: none;
} .navLinks li { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;

    display: inline-block;
    padding: 5px 15px;
} .navLinks li a {
    text-decoration: none;
    color:rgb(58, 58, 58);
    /* transition: all 0.25s ease-in-out; */
} .navLinks li a:hover {
    color: #797979;
    /* font-size: 20px; */
}

@media (max-width: 1050px) {
    header {
        flex-direction: column;
    }
    .navLinks {
        text-align: center;
    }
}

/* PAGE-SPECIFIC STYLING */

main .purpose {
    margin: 10px;
    float: left;
} main .purpose h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
} main .purpose p {
    font-family: Arial, Helvetica, sans-serif;
}

main .rightCol {
    display:block;
    margin: 10px;
} 
img {
  display: block;
  overflow:hidden;
  margin-left: auto;
  margin-right: auto;
}